<!DOCTYPE html>
{%load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Document</title>
    {% include 'lh_app/common/common_css.html'%}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
      $(document).ready(function(){ 
      $("button").click(function(){
        
       
      var message_id = $(this).val();

      $.ajax({
          url: "/show_msg/",
          data:{
              'msg_id': message_id
          },
          dataType: 'json',
          success: function(data){
              // if(data.m1_key){
                  //alert(data.m1_key);
                  document.getElementById("message_dialog"+message_id).innerText=data.m1_key
                  
              //}

          

      
              }
          

          
              });

      
      })
  }) 
  </script>


    <style>
      table,td,th{
          border: 5px solid red;
      }
      table{
          width: 200px;
          border-collapse: collapse;
      }
      th{
          background-color: rgba(0, 0, 139, 0.269);
          width: 200px;
      }
      tr:hover{
          background-color: chocolate;
      }

      .message-row {
            height: 50px; /* Adjust the height as needed */
        }

  </style>
</head>
<body>
  {% include 'lh_app/parent/parent_header.html'%}
  <div>
    <table class="table">
        <thead style="margin: 10px;">
            <tr>
                <th>Sr.no</th>
                <th scope="col">sender_id</th>
                <th scope="col">subject</th>
            </tr>
        </thead>
        <tbody>
            {% for m in message_key %}
            <tr class="message-row">
                <td>{{forloop.counter}}</td>
                <td scope="col">{{m.sender_id}}</td>
                <td scope="col">
                    <button type="button" class="btn btn-primary" value="{{m.id}}" data-bs-toggle="modal"
                        data-bs-target="#my_dialog{{m.id}}">
                        {{m.subject}}
                    </button>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="modal fade" id="my_dialog{{m.id}}" data-bs-keyboard="false" tabindex="-1"
                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Message for {{m.subject}}
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body" id="message_dialog{{m.id}}">
                                    {{m.message}}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>